@import 'vars';

// universal elements
// ======================

* {
  font-size: 16px;
  font-family: 'Jost', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $light;
  overflow-x: hidden;
}

ul, li {
  text-decoration: none;
  list-style: none;
}

// simple colour classes
// ======================

.main-pal {
  color: $main;
}

.accent-pal {
  color: $accent;
}

.dark-pal {
  color: $dark;
}

.light-pal {
  color: $light;
}

// header set
// ======================

h1 {
  font-size: 20rem;
  font-weight: 500;
}

h2,
h2 span {
  font-size: 10rem;
  font-weight: 500;
}

h3 {
  text-transform: lowercase;
  font-size: 3.8rem;
  font-weight: 500;
}

h4 {
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
  text-transform: lowercase;
}

h5 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: lowercase;
}

h6 {
  font-size: 1.6rem;
  font-weight: 400;
}

p {
  font-size: 1.3rem;
  line-height: 2.8rem;
}

a {
  text-decoration: none;
}

// mixins
// ======================
@mixin filter($scale: scale(1.1),) {
  filter: saturate(0) invert(79%) sepia(66%) saturate(380%) hue-rotate(114deg) brightness(84%) contrast(90%);
  transition: all 280ms ease-in-out;
  transform: $scale;
}

@mixin img-caption($scale: scale(0)) {
  letter-spacing: 0;
  transform: $scale;
  position: relative;
  z-index: 99;
  transition: all 280ms ease-in-out;
  text-shadow: -1px 4px 11px rgba(0,0,0,0.61);
}

@mixin img-caption-hov($scale: scale(1), $space: 5px) {
  transform: $scale;
  letter-spacing: $space;
  transition: all 280ms ease-in-out;
}


// nav
// ======================

nav {
  height: 100px;
  display: flex;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  text-align: right;
  align-items: center;
  list-style: none;

  a {
    color: $dark;
    font-size: 1.3rem;
  }
}

.logo img {
  width: 80px;
}

.menu {
  margin-left: auto;
  margin-right: $main-margins;

  .item:not(:last-child) {
    margin-right: 50px;
  }
}

.logo {
  margin-left: $main-margins;
  text-align: left;
}

// nav hover effectz

.link {
  cursor: pointer;
  font-weight: 00;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  width: 100%;
}


.link-hov {
  letter-spacing: 0;
  transition: all 280ms ease-in-out;
}

.link-hov:hover,
.link-hov:active {
  letter-spacing: 5px;
  transition: all 280ms ease-in-out;
}

.link-hov:after,
.link-hov:before {
  backface-visibility: hidden;
  border: 1px solid rgba($main, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.link-hov:hover:after,
.link-hov:hover:before {
  backface-visibility: hidden;
  border-color: $main;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.link-hov:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

// mobile nav
// ======================

// calculate a circle's circumference based on radius
@function circumference($r){
  $pi: 3.141592653;
  @return 2*$pi*$r;
}

.mobile-nav {
  display: none;
}

.mobile-nav.logo img {
  position: absolute;
  top: 15px;
  left: 30px;
  height: 50px;
}

#menu {
  z-index: 99;
}

.splash {
  z-index: 2;
}

#mobileNav {
  display: none;
  justify-content: center;
  align-items: center;

  ul {
    margin-top: 110%;
    li {
      margin-top: 70px;
    }
  }

  .link-hov:after,
  .link-hov:before {
    border: 1px solid rgba($light, 0)
  }

  .link-hov:hover:after,
  .link-hov:hover:before {
    border-color: $light;
  }

  svg {
    color: $light;
    background-color: $main;
    border-radius: 50%;
  }
}

.nav {
  // Toggle Button
  &__toggle {
    display: inline-block;
    position: absolute;
    z-index: 10;
    padding: 0;
    border: 0;
    background: transparent;
    outline: 0;
    right: 15px;
    top: 15px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color .15s linear;

    &:hover,
    &:focus {
      background-color: rgba(0,0,0,.5);
    }
  }

  &__menu {
    display: flex;
    flex-direction:column;
    justify-content:center;
    height:var(--screen-height);
    position:relative;
    z-index:5;
    visibility:hidden;
  }

  &__item {
    opacity:0;
    transition: all .3s cubic-bezier(0.000, 0.995, 0.990, 1.000) .3s;
  }
  @for $i from 1 through 5 {
    &__item:nth-child(#{$i}){
      transform:translateY(-40px * $i);
    }
  }
}

// ---------------------------
// SVG Menu Icon
// ---------------------------

.menuicon {
  display:block;
  cursor:pointer;
  color: white;

  transform:rotate(0deg);
  transition: .3s cubic-bezier(0.165, 0.840, 0.440, 1.000);

  &__bar,
  &__circle {
    fill: none;
    stroke: currentColor;
    stroke-width: 3;
    stroke-linecap: round;
  }
  &__bar {
    transform: rotate(0deg);
    transform-origin:50% 50%;
    transition: transform .25s ease-in-out;
  }
  &__circle {
    transition: stroke-dashoffset .3s linear .1s;
    stroke-dashoffset:circumference(23); // 23 is the <circle>'s radius
    stroke-dasharray:circumference(23);
  }
}


// ---------------------------
// Circular Splash Background
// ---------------------------

.splash {
  position:absolute;
  top:40px;
  right:40px;
  width: 1px;
  height: 1px;

  &::after {
    content:"";
    display:block;
    position:absolute;
    border-radius:50%;
    background-color: $main;

    // screen diameter can be 142vmax at most,
    // circle needs to be twice that size to cover it
    width:284vmax;
    height:284vmax;
    top:-142vmax;
    left:-142vmax;

    transform: scale(0);
    transform-origin:50% 50%;
    transition: transform .5s cubic-bezier(0.755, 0.050, 0.855, 0.060);

    // will-change tells the browser we plan to
    // animate this property in the near future
    will-change:transform;
  }
}


// ---------------------------
// Active State
// ---------------------------

.nav:target,
.nav--open {

  //scale the background circle to full size
  > .splash::after {
    transform:scale(1);
  }

  //animate the menu icon
  .menuicon {
    color:white;
    transform:rotate(180deg);

    &__circle {
      stroke-dashoffset:0;
    }
    &__bar:nth-child(1),
    &__bar:nth-child(4) {
      opacity:0;
    }
    &__bar:nth-child(2) {
      transform: rotate(45deg);
    }
    &__bar:nth-child(3) {
      transform: rotate(-45deg);
    }
  }

  //show the nav items
  .nav {
    &__menu {
      visibility:visible;
    }

    &__item {
      opacity:1;
      transform:translateY(0);
    }
  }
}
// mobile nav ends

// index.html
// ============================================

// down arrow
// ======================

.nav-arrow-container {
  position: relative;
  display: block;
  background: $bg;
}

.nav-arrow {
  position: absolute;
  font-size: 40px;
  top: 85vh;
  left: 50%;
  cursor: pointer;
}

.nav-arrow-return {
  @extend .nav-arrow;
  top: 95vh;
}


// landing section
// ======================

.section-landing {
  display: flex;
  width: 100%;
  height: 100vh;
}

.hero-txt {
  width: 50%;

  .entry-txt,
  .next-txt,
  .change-hero-txt {
    margin-left: $main-margins;
  }

}

.subtitle {
  margin-top: -7rem;
  margin-left: 1rem;
}

.i-subtitle {
  margin-left: 1.2rem;
  margin-top: -20px;
}

.next-txt {
  display: none;
}

.wiggle {
  height: 15px;
  width: 200px;
  position: relative;
  margin-bottom: -8px;
  z-index: -10;
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FF6B6B' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 8px;
  background-repeat: repeat-x;
  text-decoration: none;
}

.hero-img {
  width: 50%;
}


.arrows {
  display: inline-block;
  width: 100px;
  height: 100px;
}

// arrow hov effectz
.link--arrowed {
  display: inline-block;
  height: 2rem;
  line-height: 2rem;

  .arrow-icon {
    position: relative;
    margin-left: 15px;
    margin-top: 20px;
    top: -1px;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    vertical-align: middle;
  }

  .arrow-icon--circle {
    transition: stroke-dashoffset .3s ease;
    stroke-dasharray: 95;
    stroke-dashoffset: 95;
  }

  &:hover {
    .arrow-icon {
      transform: translate3d(5px, 0, 0);
    }

    .arrow-icon--circle {
      stroke-dashoffset: 0;
    }
  }
}

// work section
// ======================

.section-work {
  width: 100%;
  height: 100vh;
}

.work-txt-container {
  text-align: center;

  h3 {
    display: inline;
    padding: 0 20px 0 20px;
  }
}

.work-txt {
  padding-top: $main-margins;

  .wiggle {
    margin-bottom: 10px;
  }
}

.work-blocs {
  display: flex;
  height: 70%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.circle-container {
  display: flex;
  position: relative;
  float: left;
  height: 350px;
  width: 350px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  box-shadow: -1px 4px 11px rgba($dark, 0.61);


  &:not(:last-child) {
    margin-right: $main-margins;
  }

  h5 {
    @include img-caption;
  }

  &:hover {

    h5 {
      @include img-caption-hov;
    }

    .circle-img {
      @include filter;
    }
  }

}

.circle-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 280ms ease-in-out;
}

// wux.html
// ============================================

.section-wux {
  @extend .section-work;
  height: 140vh;

  .work-txt {
    padding-top: 50px;
  }

}

.work-bbls {
  height: 60vh;
  width: 70%;
  margin-left: -15%;
}

.bubble {
  @extend .circle-container;
  animation-timing-function: linear;
  transition: all 280ms ease-in-out;
}

.bubble img {
  @extend .circle-img;
  transform: scale(1);

  &:hover {
    transform: scale(1);
  }
}

// wux-proj.html
// ============================================

.section-wux-proj {
  display: flex;
  width: 100%;
  align-items: center;
  padding-top: $main-margins;

  .proj-img {
    width: 50%;
    margin: 0 35px 0 $main-margins;
  }

  .proj-info {
    width: 50%;
    margin: 0 $main-margins 0 35px;
  }

  h5 {
    display: inline;
  }

  a {
    color: $main;
    font-size: inherit;
    transition: all 280ms ease-in-out;
  }

  a:hover {
    color: $accent;
    transition: all 280ms ease-in-out;
  }

  .wiggle {
    margin-bottom: 5px;
  }

  .proj-subtitle {
    margin-top: 30px;

    .proj-tools {
      margin: 0 0 0 20px;
    }
  }

  .proj-desc {
    margin-top: 70px;
  }

  .caption-wrapper {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    h5 {
      @include img-caption;
    }
  }

  .img-container {
    position: relative;
    transition: all 280ms ease-in-out;
  }

  .img-container img {
    width: 100%;
    border-radius: 18px;
    transition: all 280ms ease-in-out;
  }

}

.go-to-proj-btn {
  cursor: pointer;

  h5 {
    @include img-caption;
    text-shadow: none;
    top: 13px;
  }

  &:hover {
    .arrow-icon {
      transform: translate3d(5px, 0, 0);
    }

    .arrow-icon--circle {
      stroke-dashoffset: 0;
    }

    h5 {
      @include img-caption-hov;
    }
  }
}

.back-to-all {
  margin-top: $main-margins;
  display: flex;
  justify-content: center;
  align-items: center;
}

// digiart.html
// ============================================

.section-img-overlay {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: rgba($dark, 0.85);

  height: 100vh;
  width: 100vw;
  z-index: 999;

  img {
    height: 80vh;
    width: auto;
  }

  h3, a {
    display: block;
    text-align: center;
  }

  a {
    margin-top: 30px;
  }
}

// footer
// ======================
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;

  a,
  .divider {
    display: inline-block;
  }

  .socials {
    text-align: center;
  }

  a {
    font-size: 30px;
    transition: all 280ms ease-in-out;
  }

  .fa-github {
    margin-right: 20px;
  }

  .fa-linkedin {
    margin-left: 20px;
  }

  a:hover {
    color: $main;
    transition: all 280ms ease-in-out;
  }
}

// about.html
// ============================================

.section-abt {
  @extend .section-landing;
  height: 70vh;

  .me-img,
  .abt-txt {
    width: 50%;
  }

  .abt-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: $main-margins;
  }

  .me-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: $main-margins;
  }

  .circle-container {
    height: 400px;
    width: 400px;

    .circle-img {
      filter: grayscale(1);
    }

    &:hover {
      .circle-img {
        filter: none;
      }
    }
  }
}

// contact.html
// ============================================
.section-contact {
  display: flex;
  justify-content: center;
  align-items: center;

  h3 {
    padding: 0 20px;
  }

  .wiggle,
  h3 {
    display: inline-block;
  }

  .wiggle {
    top: -20px;
  }

  h6 {
    text-align: center;
  }

  form {
    text-align: center;
    margin-top: 50px;
  }

  input,
  textarea {
    margin-top: 30px;
    width: 60%;
    border-radius: 15px;
    border: 1px solid $main;
    padding: 10px;

    &:focus-visible {
      outline: none;
      border: 1px solid $accent;
    }
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    color: $accent;
    font-size: 1.6rem;
    @extend .link-hov;
  }
}

// media queries
// ============================================

// small laptop - like, my 2012 mac
// ======================
@media only screen and (max-width: 1380px) and (max-height: 900px) {

  * {
    font-size: 11px;
  }

  .hero-img img {
    width: 90%;
  }

  .nav-arrow {
    top: 85vh;
  }

  .work-txt {
    padding-top: 100px;
  }

  .circle-container {
    height: 250px;
    width: 250px;
  }

  .back-to-all {
    margin-top: 50px;
  }

  .section-wux-proj {
    padding-top: 50px;
  }

  .section-abt {
    .circle-container {
      height: 300px;
      width: 300px;
    }
  }
}

// mobile phones
// ======================
@media only screen and (max-width: 600px) {

  * {
    font-size: 12px;
  }

  a.link {
    font-size: 2rem;
  }

  #mobileNav {
    display: flex;
  }

  .mobile-nav {
    display: inherit;
  }

  .main-nav {
    display: none;
  }

  .nav-arrow {
    display: none;
  }

  .section-landing {
    display: block;
    text-align: center;
  }

  .hero-txt {
    .entry-txt,
    .next-txt,
    .change-hero-txt {
      margin-left: 0;
    }
  }

  .hero-txt,
  .hero-img {
    width: 100%;
  }

  .hero-img img {
    width: 100%;
  }

  .section-work {
    padding-bottom: 500px;

    .wiggle {
      width: 90px;
    }

    .work-types {
      margin: 500px 0 0 35%;

      .circle-container {
        margin-top: 70px;
      }
    }
  }

  .section-wux {
    margin-top: 50px;

    .wiggle {
      display: block;
      padding: 15px 0;
      margin-left: 25%;
      width: 255px;
      top: 0;
    }

    .work-txt {
      .wiggle {
        margin-bottom: 20px;
      }
    }
  }

  .section-abt {
    .me-img,
    .abt-txt {
      width: 100%;
    }

    .me-img {
      margin-left: 0;
    }

    .circle-container {
      height: 300px;
      width: 300px;
    }
  }

  .section-contact {
    .wiggle {
      display: block;
      padding: 15px 0;
      margin-left: 35px;
    }

    h6 {
      margin-top: 25px;
    }

    input, textarea {
      width: 100%;
    }
  }

  .section-wux-proj {
    display: block;
    padding-top: 70px;

    .proj-img {
      width: 90%;
      margin: 0 0 0 5%;
    }

    .proj-info {
      width: 100%;
      margin: 0;

      .proj-title,
      .proj-brief,
      .proj-desc,
      .go-to-proj-btn {
        padding: 20px;
      }

      .proj-desc {
        margin-top: 20px;
      }

    }
  }

  .back-to-all {
    margin-top: 70px;
  }

  .section-img-overlay {
    z-index: 1;

    img {
      height: 60vh;
      width: auto;
    }

    h3, a {
      display: block;
      text-align: center;
    }

    a {
      margin-top: 30px;
    }
  }
}

// tablets
// ======================
@media only screen and (min-width: 600px) and (max-width: 1100px) {

  * {
    font-size: 13px;
  }

  a.link {
    font-size: 2rem;
  }

  #mobileNav {
    display: flex;
  }

  #mobileNav ul {
    margin-top: 70%;
  }

  .mobile-nav {
    display: inherit;
  }

  .main-nav {
    display: none;
  }

  .hero-img img {
    width: 100%;
    margin-top: 20%;
  }

  .hero-txt {
    .entry-txt,
    .change-hero-txt {
      margin-left: 30px;
    }
  }

  .circle-container,
  .bubble {
    height: 300px;
    width: 300px;
  }

  .circle-container:not(:last-child) {
    margin-right: 30px;
  }

  .section-abt {
    display: block;

    .me-img,
    .abt-txt {
      width: 100%;
      text-align: center;
    }

    .me-img {
      margin-left: 0;
    }

    .abt-txt {
      p {
        padding: 10px 170px;
      }
    }

    .circle-container {
      height: 300px;
      width: 300px;
    }
  }

  .section-wux-proj {
    display: block;
    padding-top: 70px;

    .proj-img {
      width: 90%;
      margin: 0 0 0 5%;
    }

    .proj-info {
      width: 100%;
      margin: 0;

      .proj-title,
      .proj-brief,
      .proj-subtitle,
      .proj-desc,
      .go-to-proj-btn {
        padding: 10px 70px;
      }

      .proj-desc {
        margin-top: 20px;
      }
    }
  }

  .back-to-all {
    margin-top: 70px;
  }
}
